Redirect 301 /index.html https://thenewobjective.com/
Redirect 301 /playing-with-the-drake-equation/ https://thenewobjective.com/astrobiology/playing-with-the-drake-equation/
Redirect 301 /the-end-of-nature-by-bill-mckibben/ https://thenewobjective.com/humanity-vs-nature/the-end-of-nature-by-bill-mckibben