.post {
	line-height: 1.8;
	text-align: justify;
	/*
	 Eliminates excessive word spacing that some browsers inject on short lines,
	 Ref: <https://stackoverflow.com/questions/15118540/css-text-align-justify-big-spaces>
	 */
	word-spacing: -1px;
	hyphens: auto;

	>table {
		border: 1px solid var(--font-color);
		border-collapse: collapse;
		margin: 1em auto;

		& th,
		& td {
			border: 1px solid var(--font-color);
			padding: 0.5em 1em;
			word-break: initial;
			text-align: left;
		}

		& thead {
			background: var(--site-dark-bg);
		}
	}

	& #markdown-toc {
		background-color: var(--site-dark-bg);
		padding: 1em 1em 1em 2em;

		/* Adding 'Contents' headline to the TOC */
		&::before {
			content: "Contents";
			font-weight: bold;
		}
	}
}