{% if page.categories %}
  {% assign category = page.categories[0] %}
  {% assign posts = site.categories[category] %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}
{% endif %}

<nav class="category-nav">
    <a href="{{prev_post.permalink}}" class="category-nav_prev" rel="prev">Prev</a>
    <a href="/{{ page.categories[0] | slugify }}" class="category-nav_title" rel="archives">{{ page.categories[0] }}</a>
    <a href="{{next_post.permalink}}" class="category-nav_next" rel="next">Next</a>
</nav>