<article class="codepen">
    <iframe
     src="https://codepen.io/{{ include.user }}/embed/{{ include.id }}?height=317&theme-id=dark&default-tab=result"
     scrolling="no"
     title="{{ include.id }}"
     frameborder="no"
     allowtransparency="true"
     allowfullscreen="true"
     loading="lazy"
     referrerpolicy="origin"
    >
        See the Pen <a href='https://codepen.io/{{ include.user }}/pen/{{ include.id }}'>{{ include.id }}</a>
        (<a href='https://codepen.io/{{ include.user }}'>@{{ include.user }}</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
</article>
