<header class="site-header">
    <img class="site-header_profile" src="/images/profile/top-hat-justice.jpg" alt="Profile image">
    <nav class="site-nav">
        <ul class="site-nav_links">
            <li class="site-nav_item">
                <a class="site-nav_link" href="/">
                    <svg class="feather-icon">
                        <use xlink:href="/images/icons/feather-sprite.svg#home"/>
                    </svg>
                    <span>Home</span>
                </a>
            </li>
            <li class="site-nav_item">
                <a class="site-nav_link" href="/resume">
                    <svg class="feather-icon">
                        <use xlink:href="/images/icons/feather-sprite.svg#briefcase"/>
                    </svg>
                    <span>Resume</span>
                </a>
            </li>
            <li class="site-nav_item">
                <a class="site-nav_link" href="/publications">
                    <svg class="feather-icon">
                        <use xlink:href="/images/icons/feather-sprite.svg#book"/>
                    </svg>
                    <span>Publications</span>
                </a>
            </li>
            <li class="site-nav_item">
                <a class="site-nav_link" href="/about">
                    <svg class="feather-icon">
                        <use xlink:href="/images/icons/feather-sprite.svg#help-circle"/>
                    </svg>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </nav>
</header>