<header id="site-header" class="site-header">
    <img class="site-header_profile" src="/images/icons/android-chrome-192x192.png" alt="Profile image">
    <a href="#" class="site-header_close">
        <svg class="feather-icon">
            <use xlink:href="/images/icons/feather-sprite.svg#x"/>
        </svg>
    </a>
    {%- include site-nav.html -%}
    <a class="site-header_brave" href="https://brave.com/the327" target="_blank">
        <picture>
            <source srcset="/media-library/brave/brave-banner.png"
                    media="(max-width: 420px)">
            <source srcset="/media-library/brave/brave-lion.png"
                    media="(max-width: 1279px)">
            <img src="/media-library/brave/brave-banner.png" title="Be brave" alt="Be brave" />
        </picture>
    </a>
</header>