<main class="site-content">
    <header class="site-content_header">
      <a href="#site-header" class="site-content_header-menubutton">
        <svg class="feather-icon">
          <use xlink:href="/images/icons/feather-sprite.svg#menu"/>
        </svg>          
      </a>
      <h1>
        <svg class="feather-icon">
          <use xlink:href="/images/icons/feather-sprite.svg#{{ page.icon }}"/>
        </svg>
        {{ page.title }}
      </h1>
      {% if page.title != 'Index' %}
        <time>{{ page.date | date: "%B %-d, %Y" }}</time>
      {% endif %}
    </header> 
    <section class="site-content_body">
      {{ content }}
    </section>
    {%- include site-footer.html -%}
</main>