:root {
	--font-color: #ccc;
	--link-color: #61A5E4;
	--site-header-bg: #222931;
	--content-bg: #2D3742;
	--shadow-color: rgba(0, 0, 0, 0.4);
}

body, html {
	background-color: #000;
	color: var(--font-color);
	font-family: "Noto Sans","Lucida Grande","Lucida Sans","Segoe UI",sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 100%;
}

body {
	/* layout */
    display: grid;

	@media only screen and (min-width: 1280px) {
		grid-template-columns: fit-content(12em) 1fr;
		grid-template-rows: 1fr fit-content(4em);
	}
	@media only screen and (max-width: 1279px) {
		grid-template-columns: fit-content(12em) 1fr;
		grid-template-rows: 1fr fit-content(4em);
	}

	/* Presentation */
	font-size: 14pt;
}

a {
    color: var(--link-color);
}

blockquote {
	background: var(--site-header-bg);
    padding: 0.5em 1em;
    margin: 0 1em;
}
cite {
	display: block;
	text-align: right;
}

hr {
	border-color: #000 transparent #555;
	border-radius: 100%;
}

figure {
	background-color: var(--site-header-bg);
	padding: 1em;
	text-align: center;
}

figure img { 
	max-width: 100%;
}

figcaption {
	font-size: small;
}

@import
	"includes/site-header",
	"includes/details",
	"includes/site-content",
	"includes/site-footer",
	"includes/post",
	"includes/feather-icon",
	"includes/resume-item",
	"includes/gallery",
	"includes/gallery-dialog",
	"includes/youtube",
	"includes/codepen",
	"pages/about-me"
;