.comments > footer {
    font-size: larger;
}

.comment-header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.comment > footer {
    padding: 0 0 1em 1em;
}

.comment-author {
    font-size: larger;
}

.comment-author-image {
    height: 4em;
    border-radius: 50%;
    min-width: 48px;
    margin-right: 1em;
}

.comment-date {
    font-style: italic;
}

.comment-body {
    background-color: var(--site-dark-bg);
    border-left: 0.5em solid var(--link-color);
    padding: 0.5em 1em;
    margin: 1em 0;
}