details {}

details > summary {
	background: var(--site-dark-bg);
	box-shadow: 4px 5px 5px 0px var(--shadow-color);
	cursor: pointer;
	padding-left: 1em;
}

details + details {
	margin-top: 2em;
}

details > ul,
details > ol {
	margin: 1em 0;
}