figure {
    .mermaid {
        display: flex;
        justify-content: center;
        line-height: initial;
        margin-bottom: 1em;

        svg {
            background-color: currentColor;
            height: 95% !important;
            width: 100% !important;
        }
    }
}