.post {
    line-height: 1.8;
}

.post > table {
	border: 1px solid var(--font-color);
	border-collapse: collapse;
	margin: 1em 0;
	white-space: nowrap;
}

.post > table th,
.post > table td {
	border: 1px solid var(--font-color);
	padding: 0.5em 1em;
}

.post > table thead {
	background: var(--site-dark-bg);
}

.post #markdown-toc {
	background-color: var(--site-dark-bg);
	padding: 1em 1em 1em 2em;
}

// Adding 'Contents' headline to the TOC
.post #markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}