.resume-item {
    align-items: start;
    display: flex;
    flex-direction: row;
    margin: 2em 0;
}

.resume-item img {
    margin-right: 1em;
    max-width: 15vmin;
}

.resume-item_content {
    display: flex;
    flex-direction: column;
}