.site-header {
    /* Presentation */
    background: var(--site-dark-bg);
    box-shadow: 2px 0 5px 0px var(--shadow-color);

    /* layout */
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 420px) {
        width: 0vw;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
		max-width: 4em;
    }
    @media only screen and (min-width: 1280px) {
		max-width: 12em;
	}
}

@media only screen and (max-width: 420px) {
    #site-header:target {
        min-width: 95vw;
        width: 95vw
    }

    #site-header:target + .site-content {
        min-width: 100vw;
    }
}

.site-header_profile {
    border-radius: 10%;
    margin: 1em;

    @media only screen and (max-width: 420px) {
        max-height: 80%;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        max-width: 60%;
    }
    @media only screen and (min-width: 1280px) {
        max-width: 60%;
	}
}

.site-header_close {
    color: currentColor;
    font-size: xx-large;
    text-shadow: 0 -1px 0px var(--shadow-color);
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    @media only screen and (min-width: 420px) {
        display: none;
    }
}

.site-header_brave {
    text-align: center;

    @media only screen and (max-width: 420px) {
        margin-top: 2em;
        width: 85%;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        margin-top: 2em;
        width: 80%;
    }
    @media only screen and (min-width: 1280px) {
        margin-top: 2em;
        width: 85%;
	}
}

.site-header_brave img {
    @media only screen and (max-width: 420px) {
        height: 80%;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        width: 80%;
    }
    @media only screen and (min-width: 1280px) {
        width: 100%;
	}
}

.social-links a {
    color: currentColor;
}

@import "site-nav"