.site-footer {
    /* layout */
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    height: 3em;
    padding-left: 2em;
    align-items: center;

    /* Presentation */
    background-color: var(--content-bg);
    box-shadow: 0 -1px 3px 0 var(--shadow-color);
    font-size: smaller;
    z-index: 1;
}