.site-header {
    /* Presentation */
    background: var(--site-dark-bg);
    box-shadow: 2px 0 5px 0px var(--shadow-color);

    /* layout */
    align-items: center;
    display: flex;
    z-index: 2;

    @media only screen and (max-width: 420px) {
        flex-direction: row;
        grid-column: 1;
        grid-row: 1;
        overflow-x: auto;
        overflow-y: hidden;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        flex-direction: column;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        overflow-x: hidden;
        overflow-y: auto;
		width: 4em;
    }
    @media only screen and (min-width: 1280px) {
        flex-direction: column;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        overflow-x: hidden;
        overflow-y: auto;
		width: 12em;
	}
}

.site-header_profile {
    border-radius: 50%;

    @media only screen and (max-width: 420px) {
        margin: 0 1em;
        max-height: 80%;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        margin: 1em 0;
        max-width: 60%;
    }
    @media only screen and (min-width: 1280px) {
        margin: 1em 0;
        max-width: 60%;
	}
}

.site-header_brave {
    text-align: center;

    @media only screen and (max-width: 420px) {
        height: 80%;
        padding: 0.5em 1em 0 1em;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        margin-top: 2em;
        width: 80%;
    }
    @media only screen and (min-width: 1280px) {
        margin-top: 2em;
        width: 85%;
	}
}

.site-header_brave img {
    @media only screen and (max-width: 420px) {
        height: 80%;
    }
	@media only screen and (min-width: 420px) and (max-width: 1279px) {
        width: 80%;
    }
    @media only screen and (min-width: 1280px) {
        width: 100%;
	}
}

.social-links a {
    color: currentColor;
}

@import "site-nav"