{% if page.commentThreadId != -1 %}

<section class="comments" data-comment-thread-id="{{ page.commentThreadId }}">
    <header>
        <h2 id="comments">Comments</h2>
    </header>
    <section class="comments-content">
        <noscript>JavaScript must be enabled to view comments on this page.</noscript>
    </section>
    <footer>
        <p>You can create, reply to, and manage comments on <a href="https://github.com/thenewobjective/thenewobjective.github.io/issues/{{ page.commentThreadId }}" rel="noopener external" target="_blank">GitHub</a></p>
    </footer>
</section>

{% endif %}