::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
        width: 0.5em;
    }

    &:horizontal {
        height: 0.5em;
    }
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid var(--vp-c-bg-1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--vp-c-text-3);
}