---
layout: default
---

<article class="post">
    {% if page.title != 'Index' %}
    <header>
        <a href="/about" rel="author">Michael L. Haufe</a>
        
        &nbsp;&middot;&nbsp;
        <time>{{ page.date | date: "%B %-d, %Y" }}</time>
        &nbsp;&middot;&nbsp;
        <a href="/{{ page.categories[0] | slugify }}" rel="archives">{{ page.categories[0] | replace: ' ', '&nbsp;' }}</a>
    </header>
    <hr>
    {% endif %}
    {%- include category-nav.html -%}
    <hr>
    {{ content }}
    <hr>
    {%- include category-nav.html -%}
</article>

<hr>

{%- include comments/comments.html -%}